# ==========================================
# ChatterFlow Client Environment Variables
# ==========================================

# Backend API & Socket URL (e.g. https://chatterflow.onrender.com)
REACT_APP_API_URL=https://chatterflow.onrender.com
REACT_APP_SOCKET_URL=https://chatterflow.onrender.com

