@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.sidebar-scrollable {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.sidebar-scrollable::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* src/styles/globals.css or your main CSS file */
/* .custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9c27b0 #f3e8ff;
} */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9c27b0; /* Custom purple */
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3e8ff; /* Light background */
}
