DB_USER=
DB_PASS=
CLIENT_URL=
EMAIL_PROVIDER=
EMAIL_FROM=
GMAIL_USER=
GMAIL_APP_PASSWORD=
TESTMAIL_APIKEY=
TESTMAIL_NAMESPACE=
PORT=
JWT_SECRET_KEY=
MONGODB_URI=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
